/*--------------- CSS reset section ------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*-----------------------------*/
/*       Layouts               */
/*-----------------------------*/
body {
  font-family: "Epilogue", sans-serif;
  font-size: 1.125rem;
  background: hsl(0, 0%, 98%);
}

.header {
  padding-bottom: 30px;
}
@media only screen and (min-width: 62rem) {
  .header {
    padding-bottom: 150px;
  }
}

/*-----------------------------*/
/*       Components            */
/*-----------------------------*/
.navbar {
  background-color: hsl(0, 0%, 98%);
  padding: 1rem 0.25rem;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler-icon {
  width: 2rem;
  height: 1.125rem;
}
.navbar .offcanvas {
  width: 64%;
}
.navbar .offcanvas-body {
  padding: 1rem 1.5rem;
}
.navbar .offcanvas-backdrop.show {
  opacity: 0.75;
}
.navbar .btn:active {
  border-color: transparent;
}
.navbar .btn-login, .navbar .btn-register {
  color: hsl(0, 0%, 41%);
  font-size: 0.875rem;
}
.navbar .btn-login:hover, .navbar .btn-register:hover {
  background-color: transparent;
  color: hsl(0, 0%, 8%);
}
.navbar .btn-login {
  padding: 1rem 0;
}
.navbar .btn-register {
  border-radius: 14px;
  border: 2px solid hsl(0, 0%, 41%);
  padding: 0.5rem 1rem;
}
.navbar .btn-close {
  opacity: 1;
}
.navbar .nav-link {
  font-size: 1rem;
  font-weight: 500;
  line-height: 162.5%;
}
.navbar .nav-link.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.navbar .nav-link.dropdown-toggle:after {
  content: url("../../images/icon-arrow-down.svg");
  margin: 0;
  border: none;
}
.navbar .nav-link.dropdown-toggle.show:after {
  content: url("../../images/icon-arrow-up.svg");
  margin: 0;
}
.navbar .dropdown-menu {
  border: none;
}
.navbar .dropdown-item {
  color: hsl(0, 0%, 41%);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
}