// Colors
$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);

// Font
$font-family-basis: 'Epilogue', sans-serif;
$font-size-basis: 1rem;
$font-size-body: 1.125rem;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Common Breakpoints
$xs: 35.938rem;
$sm: 36rem;
$md: 48rem;
$lg: 62rem;
$xl: 75rem;
$xxl: 87.5rem;
